<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Suite1" verbose="1" parallel="tests">
    <test name="FIREFOX" parallel="methods">
<!--        <packages>-->
<!--            <package name="org.selenium.pom.tests"/>-->
<!--        </packages>-->
        <parameter name="browser" value="FIREFOX"></parameter>
        <classes>
            <class name="org.selenium.pom.tests.MyFirstTestCase"/>
        </classes>
    </test>
    <test name="CHROME" parallel="methods">
        <!--        <packages>-->
        <!--            <package name="org.selenium.pom.tests"/>-->
        <!--        </packages>-->
        <parameter name="browser" value="CHROME"></parameter>
        <classes>
            <class name="org.selenium.pom.tests.MyFirstTestCase"/>
        </classes>
    </test>
</suite>